@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.carousel {
  padding-bottom: 230px;
}
.carousel_text {
  text-align: center;
  color: #22343d;
  font-family: "Poppins", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.carousel-content p {
  text-align: center;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  padding: 8px 0 32px;
}
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
.item {
  width: 348px;
  height: 359px;
  border-radius: 8px;
  border: 1px solid #959696;
}
.item img {
  max-width: 548px;
  border-radius: 8px 8px 0 0;

  overflow: hidden;
}
.item p {
  padding: 24px 88px 0 24px;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.item b {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  transition: 0.5s;
}

.item h6 {
  color: #22343d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 166.667% */
  padding: 12px 30px 40px 24px;
}
.item:hover h6 {
  color: #02897a;
  cursor: pointer;
}
